In [ ]:
import os
import pandas as pd
from google.colab import drive
import datetime as dt

In [ ]:
drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/

In [ ]:
# master_df = pd.DataFrame()
master_df = pd.read_csv('/content/gdrive/My Drive/DB_Systems_Group_Project/Processed_Data/Master_Trip_Data.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
ride_type = pd.read_csv('/content/gdrive/My Drive/DB_Systems_Group_Project/Processed_Data/Ride_Type_Data.csv')

In [ ]:
stations = pd.read_csv('/content/gdrive/My Drive/DB_Systems_Group_Project/Processed_Data/Stations_Data.csv')

In [ ]:
rider_type = pd.read_csv('/content/gdrive/My Drive/DB_Systems_Group_Project/Processed_Data/Rider_Type_Data.csv')

In [ ]:
# To Merge all CSV Files
for file in os.listdir('/content/gdrive/My Drive/DB_Systems_Group_Project/'):
  if file.endswith('.csv'):    
    # you can change '.csv' to any other type of file, but take into account the pd.read_csv 
    # and change it to a pandas function that helps you read that type of file
    # e.g pd.read_excel in case it is a .xlsx file
    # or pd.read_json in case it is a .json file
    f = open("/content/gdrive/My Drive/DB_Systems_Group_Project/"+file)
    # print(f)
    df = pd.read_csv(f)
    master_df = master_df.append(df)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
master_df.shape

(11528960, 17)

In [ ]:
master_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_id,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,start_date,week_day,year,month,ride_len
0,5DB63F4E4EB6A9CF,0,2020-04-01 00:00:30,2020-04-01 00:23:03,162.0,232.0,41.9359,-87.6784,41.9493,-87.6463,0,0 days 00:22:33,2020-04-01,Tuesday,2020,4,0 days 00:22:33
1,1FD159E93F7BAFA1,0,2020-04-01 00:02:35,2020-04-01 00:10:45,72.0,321.0,41.8604,-87.6258,41.8708,-87.6257,1,0 days 00:08:10,2020-04-01,Tuesday,2020,4,0 days 00:08:10
2,6D93A270684EC452,0,2020-04-01 00:02:41,2020-04-01 00:24:20,162.0,506.0,41.9359,-87.6784,41.9171,-87.7102,0,0 days 00:21:39,2020-04-01,Tuesday,2020,4,0 days 00:21:39
3,091D47E4F0FC5022,0,2020-04-01 00:06:44,2020-04-01 00:14:01,173.0,301.0,41.8969,-87.6217,41.9080,-87.6315,1,0 days 00:07:17,2020-04-01,Tuesday,2020,4,0 days 00:07:17
4,07F785C9DDA3404C,0,2020-04-01 00:11:18,2020-04-01 00:11:51,321.0,321.0,41.8708,-87.6257,41.8708,-87.6257,1,0 days 00:00:33,2020-04-01,Tuesday,2020,4,0 days 00:00:33

In [ ]:
# Checking for null values
master_df.isnull().sum()

ride_id             0
rideable_type       0
started_at          0
ended_at            0
start_station_id    0
end_station_id      0
start_lat           0
start_lng           0
end_lat             0
end_lng             0
member_casual       0
ride_length         0
start_date          0
week_day            0
year                0
month               0
ride_len            0
dtype: int64

In [ ]:
# Types of features
master_df.dtypes

NameError: ignored

In [ ]:
# Converting object data type of start_time and end_time columns into datetime data type
master_df['started_at'] = pd.to_datetime(master_df['started_at'])
master_df['ended_at'] = pd.to_datetime(master_df['ended_at'])
master_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,start_date,week_day
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86.0,Lincoln Ave & Diversey Pkwy,152.0,41.8964,-87.6610,41.9322,-87.6586,member,0 days 00:26:49,2020-04-26,Saturday
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503.0,Kosciuszko Park,499.0,41.9244,-87.7154,41.9306,-87.7238,member,0 days 00:08:09,2020-04-17,Thursday
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142.0,Indiana Ave & Roosevelt Rd,255.0,41.8945,-87.6179,41.8679,-87.6230,member,0 days 00:14:23,2020-04-01,Tuesday
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216.0,Wood St & Augusta Blvd,657.0,41.9030,-87.6975,41.8992,-87.6722,member,0 days 00:12:12,2020-04-07,Monday
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125.0,Sheridan Rd & Lawrence Ave,323.0,41.8902,-87.6262,41.9695,-87.6547,casual,0 days 00:52:55,2020-04-18,Friday

In [ ]:
# Adding new column "ride_length" (ended_at - started_at) to calculate the time travelled
master_df["ride_length"] = master_df["ended_at"] - master_df["started_at"]

In [ ]:
# Splitting and extracting the date from "started_at" column
master_df["start_date"] = [str(i).split(" ")[0] for i in master_df["started_at"]]

In [ ]:
# Converting start_date into datetime data type
master_df["start_date"] = pd.to_datetime(master_df["start_date"])

In [ ]:
# Finding the weekday of the date
master_df["week_day"] = master_df["start_date"].apply(lambda x: x.weekday())
# Converting weekday values into weekday
week_days_dict = {0: "Sunday", 1: "Monday", 2: "Tuesday", 3: "Wednesday", 4: "Thursday", 5: "Friday", 6: "Saturday"}
master_df["week_day"] = master_df["week_day"].apply(lambda y: week_days_dict[y])
master_df["week_day"]

0           Saturday
1           Thursday
2            Tuesday
3             Monday
4             Friday
              ...
11528955    Saturday
11528956    Saturday
11528957      Friday
11528958    Saturday
11528959      Friday
Name: week_day, Length: 11528960, dtype: object

In [ ]:
# Sorting the dataframe by start date in ascending order
master_df.sort_values(by=["started_at"], inplace=True, ascending=True)
master_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,start_date,week_day
74260,5DB63F4E4EB6A9CF,docked_bike,2020-04-01 00:00:30,2020-04-01 00:23:03,Damen Ave & Wellington Ave,162.0,Pine Grove Ave & Waveland Ave,232.0,41.935900,-87.678400,41.949300,-87.646300,casual,0 days 00:22:33,2020-04-01,Tuesday
46087,1FD159E93F7BAFA1,docked_bike,2020-04-01 00:02:35,2020-04-01 00:10:45,Wabash Ave & 16th St,72.0,Wabash Ave & 9th St,321.0,41.860400,-87.625800,41.870800,-87.625700,member,0 days 00:08:10,2020-04-01,Tuesday
17709,6D93A270684EC452,docked_bike,2020-04-01 00:02:41,2020-04-01 00:24:20,Damen Ave & Wellington Ave,162.0,Spaulding Ave & Armitage Ave,506.0,41.935900,-87.678400,41.917100,-87.710200,casual,0 days 00:21:39,2020-04-01,Tuesday
53014,091D47E4F0FC5022,docked_bike,2020-04-01 00:06:44,2020-04-01 00:14:01,Mies van der Rohe Way & Chicago Ave,173.0,Clark St & Schiller St,301.0,41.896900,-87.621700,41.908000,-87.631500,member,0 days 00:07:17,2020-04-01,Tuesday
46086,07F785C9DDA3404C,docked_bike,2020-04-01 00:11:18,2020-04-01 00:11:51,Wabash Ave & 9th St,321.0,Wabash Ave & 9th St,321.0,41.870800,-87.625700,41.870800,-87.625700,member,0 days 00:00:33,2020-04-01,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11308467,5ABBB2624D3F8E53,classic_bike,2022-10-31 23:57:47,2022-11-01 00:03:49,Ellis Ave & 55th St,KA1504000076,Harper Ave & 59th St,KA1503000070,41.794301,-87.601450,41.787943,-87.588315,member,0 days 00:06:02,2022-10-31,Sunday
11520593,9CFAD93CB61F0C9C,docked_bike,2022-10-31 23:57:53,2022-11-01 00:01:08,Sheridan Rd & Irving Park Rd,13063,Sheridan Rd & Montrose Ave,TA1307000107,41.954245,-87.654406,41.961670,-87.654640,casual,0 days 00:03:15,2022-10-31,Sunday
11203566,D524E5A0DF7C9911,classic_bike,2022-10-31 23:58:19,2022-11-01 00:02:18,Paulina St & 18th St,TA1307000159,Racine Ave & 18th St,13164,41.857901,-87.668745,41.858166,-87.656495,member,0 days 00:03:59,2022-10-31,Sunday
11313333,01ADE233A9F32DD2,classic_bike,2022-10-31 23:58:52,2022-11-01 00:02:49,Ellis Ave & 55th St,KA1504000076,Ellis Ave & 53rd St,KA1503000052,41.794301,-87.601450,41.799336,-87.600958,member,0 days 00:03:57,2022-10-31,Sunday
11389282,BD3A75394F109FCC,classic_bike,2022-10-31 23:59:33,2022-11-01 00:08:47,Halsted St & Wrightwood Ave,TA1309000061,Southport Ave & Roscoe St,13071,41.929143,-87.649077,41.943739,-87.664020,casual,0 days 00:09:14,2022-10-31,Sunday

In [ ]:
# Dropping all rows with any NaN values
master_df = master_df.dropna()
master_df.shape

(11528960, 16)

In [ ]:
# Calculationg the euclidean distance between start and end point
"""
master_df["x"] = (master_df["end_lat"] - master_df["start_lat"])**2
master_df["y"] = (master_df["end_lng"] - master_df["start_lng"])**2
master_df["distance"] = (master_df["x"] + master_df["y"])**(1/2)
"""
master_df[master_df["distance"] == "Tuesday"]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_id, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual, ride_length, start_date, week_day, distance, year, month, ride_len]
Index: []

In [ ]:
# Extracting year and month from start date column
master_df["year"] = pd.DatetimeIndex(master_df["start_date"]).year
master_df['month'] = pd.DatetimeIndex(master_df["start_date"]).month

In [ ]:
 # Converting object datatype to timedelta
master_df["ride_len"] = pd.to_timedelta(master_df["ride_length"])

In [ ]:
# Finding Unique Ride Types and creating Ride Type CSV
data = list(master_df.rideable_type.unique())
ride_type = pd.DataFrame(data, columns=['Ride_Type'])
ride_type['Id'] = [x for x in range(len(data))]
ride_type

       Ride Type  Id
0    docked_bike   0
1  electric_bike   1
2   classic_bike   2

In [ ]:
# Converting Object Ride Type to Int
def transform_ride_type(ride_type):
  ride_type = ride_type.lower()
  if ride_type == 'docked_bike':
    return 0
  elif ride_type == 'electric_bike':
    return 1
  elif ride_type == 'classic_bike':
    return 2
  else:
    return 3
master_df['rideable_type'] = master_df['rideable_type'].apply(transform_ride_type)
master_df[master_df['rideable_type'] == 1]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,member_casual,ride_length,start_date,week_day,x,y,distance,year,month,ride_len
844332,D7CAD293495ED6DC,1,2020-07-13 11:27:34,2020-07-13 11:28:10,HUBBARD ST BIKE CHECKING (LBS-WH-TEST),671.0,HUBBARD ST BIKE CHECKING (LBS-WH-TEST),671.0,41.889996,-87.680154,...,casual,0 days 00:00:36,2020-07-13,Sunday,1.418778e-09,1.690000e-10,0.000040,2020,7,0 days 00:00:36
862356,D94CA6C6C8740EED,1,2020-07-14 13:07:05,2020-07-14 13:08:22,HUBBARD ST BIKE CHECKING (LBS-WH-TEST),671.0,HUBBARD ST BIKE CHECKING (LBS-WH-TEST),671.0,41.890046,-87.680348,...,casual,0 days 00:01:17,2020-07-14,Monday,7.290000e-10,1.733611e-08,0.000134,2020,7,0 days 00:01:17
1109001,F848C39FF746E499,1,2020-07-28 11:43:20,2020-07-28 11:43:33,HUBBARD ST BIKE CHECKING (LBS-WH-TEST),671.0,HUBBARD ST BIKE CHECKING (LBS-WH-TEST),671.0,41.890056,-87.680027,...,casual,0 days 00:00:13,2020-07-28,Monday,3.422250e-09,9.922500e-10,0.000066,2020,7,0 days 00:00:13
1109245,65E7311D25CC695A,1,2020-07-28 12:01:31,2020-07-28 12:01:37,HUBBARD ST BIKE CHECKING (LBS-WH-TEST),671.0,HUBBARD ST BIKE CHECKING (LBS-WH-TEST),671.0,41.889957,-87.680252,...,casual,0 days 00:00:06,2020-07-28,Monday,0.000000e+00,0.000000e+00,0.000000,2020,7,0 days 00:00:06
1109469,F6B51B83B519967F,1,2020-07-28 12:19:08,2020-07-28 12:19:12,HUBBARD ST BIKE CHECKING (LBS-WH-TEST),671.0,HUBBARD ST BIKE CHECKING (LBS-WH-TEST),671.0,41.890023,-87.680172,...,casual,0 days 00:00:04,2020-07-28,Monday,3.361111e-12,1.708444e-09,0.000041,2020,7,0 days 00:00:04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11528948,2729DF1148E8F059,1,2022-10-31 23:56:12,2022-11-01 00:06:00,Wood St & Milwaukee Ave,13221,State St & Pearson St,TA1307000061,41.907622,-87.672556,...,member,0 days 00:09:48,2022-10-31,Sunday,1.035035e-04,1.921376e-03,0.044999,2022,10,0 days 00:09:48
11528950,E8174E15A21944AF,1,2022-10-31 23:56:48,2022-11-01 00:01:06,Bissell St & Armitage Ave*,chargingstx1,Larrabee St & Webster Ave,13193,41.918528,-87.652193,...,casual,0 days 00:04:18,2022-10-31,Sunday,1.085044e-05,6.485886e-05,0.008701,2022,10,0 days 00:04:18
11528951,2C34CF8A74B3CAEC,1,2022-10-31 23:56:53,2022-11-01 00:04:58,Theater on the Lake,TA1308000001,Racine Ave & Fullerton Ave (Temp),TA1306000026,41.926296,-87.631016,...,casual,0 days 00:08:05,2022-10-31,Sunday,1.214922e-06,6.886986e-04,0.026266,2022,10,0 days 00:08:05
11528953,361DE7ECD68DAB2C,1,2022-10-31 23:57:05,2022-11-01 00:04:54,Theater on the Lake,TA1308000001,Racine Ave & Fullerton Ave (Temp),TA1306000026,41.926215,-87.631039,...,member,0 days 00:07:49,2022-10-31,Sunday,1.041034e-06,6.874795e-04,0.026240,2022,10,0 days 00:07:49
11528954,823E5495FD29F1B1,1,2022-10-31 23:57:15,2022-11-01 00:18:24,New St & Illinois St,TA1306000013,State St & Randolph St,TA1305000029,41.890723,-87.618549,...,member,0 days 00:21:09,2022-10-31,Sunday,3.722758e-05,8.622234e-05,0.011111,2022,10,0 days 00:21:09

In [ ]:
# Find Unique Stations & creating new CSV
data_start_station = list(master_df.start_station_name.unique())
data_end_station = list(master_df.end_station_name.unique())
data_stations = data_start_station + data_end_station
stations = pd.DataFrame(data_stations, columns=['station'])
# Initializing the column station_id with 0
stations['station_id'] = 0
def get_station_id(station_name):
  if station_name in master_df['start_station_name'].unique():
    matched = list(master_df[master_df['start_station_name'] == station_name]['start_station_id'])
    print(matched[0])
    return matched[0]
  elif station_name in master_df['end_station_name'].unique():
    matched = list(master_df[master_df['end_station_name'] == station_name]['end_station_id'])
    print(matched[0])
    return matched[0]
  else:
    return -1
stations['station_id'] = stations['station'].apply(get_station_id)
stations.isnull().sum()

station       0
station_id    0
dtype: int64

In [ ]:
# Dropping the columns start_station_name and end_station_name
# master_df.drop(['start_station_name','end_station_name'],axis=1,inplace=True)
master_df

,ride_id,rideable_type,started_at,ended_at,start_station_id,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,start_date,week_day,x,y,distance,year,month,ride_len
0,5DB63F4E4EB6A9CF,0,2020-04-01 00:00:30,2020-04-01 00:23:03,162.0,232.0,41.935900,-87.678400,41.949300,-87.646300,casual,0 days 00:22:33,2020-04-01,Tuesday,1.795600e-04,1.030410e-03,0.034785,2020,4,0 days 00:22:33
1,1FD159E93F7BAFA1,0,2020-04-01 00:02:35,2020-04-01 00:10:45,72.0,321.0,41.860400,-87.625800,41.870800,-87.625700,member,0 days 00:08:10,2020-04-01,Tuesday,1.081600e-04,1.000000e-08,0.010400,2020,4,0 days 00:08:10
2,6D93A270684EC452,0,2020-04-01 00:02:41,2020-04-01 00:24:20,162.0,506.0,41.935900,-87.678400,41.917100,-87.710200,casual,0 days 00:21:39,2020-04-01,Tuesday,3.534400e-04,1.011240e-03,0.036942,2020,4,0 days 00:21:39
3,091D47E4F0FC5022,0,2020-04-01 00:06:44,2020-04-01 00:14:01,173.0,301.0,41.896900,-87.621700,41.908000,-87.631500,member,0 days 00:07:17,2020-04-01,Tuesday,1.232100e-04,9.604000e-05,0.014807,2020,4,0 days 00:07:17
4,07F785C9DDA3404C,0,2020-04-01 00:11:18,2020-04-01 00:11:51,321.0,321.0,41.870800,-87.625700,41.870800,-87.625700,member,0 days 00:00:33,2020-04-01,Tuesday,0.000000e+00,0.000000e+00,0.000000,2020,4,0 days 00:00:33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11528955,5ABBB2624D3F8E53,2,2022-10-31 23:57:47,2022-11-01 00:03:49,KA1504000076,KA1503000070,41.794301,-87.601450,41.787943,-87.588315,member,0 days 00:06:02,2022-10-31,Sunday,4.042172e-05,1.725178e-04,0.014592,2022,10,0 days 00:06:02
11528956,9CFAD93CB61F0C9C,0,2022-10-31 23:57:53,2022-11-01 00:01:08,13063,TA1307000107,41.954245,-87.654406,41.961670,-87.654640,casual,0 days 00:03:15,2022-10-31,Sunday,5.513062e-05,5.475600e-08,0.007429,2022,10,0 days 00:03:15
11528957,D524E5A0DF7C9911,2,2022-10-31 23:58:19,2022-11-01 00:02:18,TA1307000159,13164,41.857901,-87.668745,41.858166,-87.656495,member,0 days 00:03:59,2022-10-31,Sunday,7.022500e-08,1.500625e-04,0.012253,2022,10,0 days 00:03:59
11528958,01ADE233A9F32DD2,2,2022-10-31 23:58:52,2022-11-01 00:02:49,KA1504000076,KA1503000052,41.794301,-87.601450,41.799336,-87.600958,member,0 days 00:03:57,2022-10-31,Sunday,2.535769e-05,2.417285e-07,0.005060,2022,10,0 days 00:03:57
11528959,BD3A75394F109FCC,2,2022-10-31 23:59:33,2022-11-01 00:08:47,TA1309000061,13071,41.929143,-87.649077,41.943739,-87.664020,casual,0 days 00:09:14,2022-10-31,Sunday,2.130432e-04,2.232932e-04,0.020889,2022,10,0 days 00:09:14

In [ ]:
# Finding Unique Rider Types and creating Rider Type CSV
data = list(master_df.member_casual.unique())
rider_type = pd.DataFrame(data, columns=['Rider_Type'])
rider_type['Id'] = [x for x in range(len(data))]
rider_type

  Rider_Type  Id
0     casual   0
1     member   1

In [ ]:
# Converting Object Rider Type (member_casual column) to Int
"""
def transform_rider_type(rider_type):
  rider_type = rider_type.lower()
  if rider_type == 'casual':
    return 0
  elif rider_type == 'member':
    return 1
  else:
    return -1
master_df['member_casual'] = master_df['member_casual'].apply(transform_rider_type)
"""
master_df[master_df['member_casual'] == 0]

,ride_id,rideable_type,started_at,ended_at,start_station_id,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,start_date,week_day,x,y,distance,year,month,ride_len
0,5DB63F4E4EB6A9CF,0,2020-04-01 00:00:30,2020-04-01 00:23:03,162.0,232.0,41.935900,-87.678400,41.949300,-87.646300,0,0 days 00:22:33,2020-04-01,Tuesday,0.000180,1.030410e-03,0.034785,2020,4,0 days 00:22:33
2,6D93A270684EC452,0,2020-04-01 00:02:41,2020-04-01 00:24:20,162.0,506.0,41.935900,-87.678400,41.917100,-87.710200,0,0 days 00:21:39,2020-04-01,Tuesday,0.000353,1.011240e-03,0.036942,2020,4,0 days 00:21:39
13,DE37B4E1E3776DBD,0,2020-04-01 02:26:18,2020-04-01 02:57:46,197.0,141.0,41.882100,-87.625100,41.915700,-87.634600,0,0 days 00:31:28,2020-04-01,Tuesday,0.001129,9.025000e-05,0.034917,2020,4,0 days 00:31:28
16,A425AC8F8D5A6EFE,0,2020-04-01 03:38:41,2020-04-01 03:49:17,306.0,257.0,41.958500,-87.655000,41.948800,-87.675300,0,0 days 00:10:36,2020-04-01,Tuesday,0.000094,4.120900e-04,0.022498,2020,4,0 days 00:10:36
17,C070E17FD3115E05,0,2020-04-01 03:41:08,2020-04-01 04:14:22,154.0,154.0,41.939500,-87.663800,41.939500,-87.663800,0,0 days 00:33:14,2020-04-01,Tuesday,0.000000,0.000000e+00,0.000000,2020,4,0 days 00:33:14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11528946,573A56AFE0BE4764,0,2022-10-31 23:54:45,2022-11-01 00:14:33,TA1307000134,13074,41.940232,-87.652944,41.965221,-87.658139,0,0 days 00:19:48,2022-10-31,Sunday,0.000624,2.698803e-05,0.025523,2022,10,0 days 00:19:48
11528950,E8174E15A21944AF,1,2022-10-31 23:56:48,2022-11-01 00:01:06,chargingstx1,13193,41.918528,-87.652193,41.921822,-87.644140,0,0 days 00:04:18,2022-10-31,Sunday,0.000011,6.485886e-05,0.008701,2022,10,0 days 00:04:18
11528951,2C34CF8A74B3CAEC,1,2022-10-31 23:56:53,2022-11-01 00:04:58,TA1308000001,TA1306000026,41.926296,-87.631016,41.925194,-87.657259,0,0 days 00:08:05,2022-10-31,Sunday,0.000001,6.886986e-04,0.026266,2022,10,0 days 00:08:05
11528956,9CFAD93CB61F0C9C,0,2022-10-31 23:57:53,2022-11-01 00:01:08,13063,TA1307000107,41.954245,-87.654406,41.961670,-87.654640,0,0 days 00:03:15,2022-10-31,Sunday,0.000055,5.475600e-08,0.007429,2022,10,0 days 00:03:15
11528959,BD3A75394F109FCC,2,2022-10-31 23:59:33,2022-11-01 00:08:47,TA1309000061,13071,41.929143,-87.649077,41.943739,-87.664020,0,0 days 00:09:14,2022-10-31,Sunday,0.000213,2.232932e-04,0.020889,2022,10,0 days 00:09:14

In [ ]:
# Creating problem during ETL Pipeline
master_df.drop(['x','y'],axis=1,inplace=True)
master_df.shape

(11528960, 18)

In [ ]:
master_df.drop(['distance'],axis=1,inplace=True)

In [ ]:
# Splitting Ride Length (TimeDelta Type) to extract number of days
def calculate_ride_days(ride_length):
  ride_days = ride_length.split(' ')[0]
  return int(ride_days)
master_df['ride_days'] = master_df['ride_len'].apply(calculate_ride_days)

In [ ]:
# Splitting Ride Length (TimeDelta Type) to extract ride time
def calculate_ride_time(ride_length):
  ride_time = ride_length.split(' ')[2]
  hh,mm,ss= int(ride_time.split(':')[0]),int(ride_time.split(':')[1]),int(ride_time.split(':')[2])
  ride_time = dt.time(hh, mm, ss)
  return ride_time
master_df['ride_time'] = master_df['ride_len'].apply(calculate_ride_time)
master_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_id,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,start_date,week_day,year,month,ride_len,ride_days,ride_time
0,5DB63F4E4EB6A9CF,0,2020-04-01 00:00:30,2020-04-01 00:23:03,162.0,232.0,41.9359,-87.6784,41.9493,-87.6463,0,0 days 00:22:33,2020-04-01,Tuesday,2020,4,0 days 00:22:33,0,00:22:33
1,1FD159E93F7BAFA1,0,2020-04-01 00:02:35,2020-04-01 00:10:45,72.0,321.0,41.8604,-87.6258,41.8708,-87.6257,1,0 days 00:08:10,2020-04-01,Tuesday,2020,4,0 days 00:08:10,0,00:08:10
2,6D93A270684EC452,0,2020-04-01 00:02:41,2020-04-01 00:24:20,162.0,506.0,41.9359,-87.6784,41.9171,-87.7102,0,0 days 00:21:39,2020-04-01,Tuesday,2020,4,0 days 00:21:39,0,00:21:39
3,091D47E4F0FC5022,0,2020-04-01 00:06:44,2020-04-01 00:14:01,173.0,301.0,41.8969,-87.6217,41.9080,-87.6315,1,0 days 00:07:17,2020-04-01,Tuesday,2020,4,0 days 00:07:17,0,00:07:17
4,07F785C9DDA3404C,0,2020-04-01 00:11:18,2020-04-01 00:11:51,321.0,321.0,41.8708,-87.6257,41.8708,-87.6257,1,0 days 00:00:33,2020-04-01,Tuesday,2020,4,0 days 00:00:33,0,00:00:33

In [ ]:
master_df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_id', 'end_station_id', 'start_lat', 'start_lng',
       'end_lat', 'end_lng', 'member_casual', 'ride_length', 'start_date',
       'week_day', 'year', 'month', 'ride_len', 'ride_days', 'ride_time'],
      dtype='object')

In [ ]:
stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3155 entries, 0 to 3154
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   station     3155 non-null   object
 1   station_id  3155 non-null   object
dtypes: object(2)
memory usage: 49.4+ KB

In [ ]:
master_df.to_csv('/content/gdrive/My Drive/DB_Systems_Group_Project/Processed_Data/Master_Trip_Data.csv',index=False)

In [ ]:
ride_type.to_csv('/content/gdrive/My Drive/DB_Systems_Group_Project/Processed_Data/Ride_Type_Data.csv',index=False)

In [ ]:
stations.to_csv('/content/gdrive/My Drive/DB_Systems_Group_Project/Processed_Data/Stations_Data.csv',index=False)

In [ ]:
rider_type.to_csv('/content/gdrive/My Drive/DB_Systems_Group_Project/Processed_Data/Rider_Type_Data.csv',index=False)